Виртуальное окружение

/bot/
venv/
*.venv/

Файлы Python

pycache/
*.pyc

Конфиденциальные файлы

config.py
*.db
*.db-journal
*.log

Файл секретов

.env

Временные файлы

*.png
