# .env.example

# --- Критические переменные ---
# Токен вашего бота от @BotFather
BOT_TOKEN=
# Ваш Telegram ID (можно узнать у @userinfobot)
ADMIN_CHAT_ID=
# ID вашего публичного канала (начинается с -100). Оставьте пустым "", если не нужен.
CHANNEL_ID=

# --- Конфигурация пиров (ВАЖНО: это JSON-строка в ОДИНАРНЫХ кавычках) ---
# PEER_NAMES: "IP-адрес": "Имя"
PEER_NAMES='{"10.66.66.2": "my_iphone", "10.66.66.3": "my-pc", "10.66.66.4": "user2"}'

# PEER_QUOTAS: "IP-адрес": Квота_в_ГБ (числом)
PEER_QUOTAS='{"10.66.66.3": 100, "10.66.66.4": 75, "10.66.66.2": 250}'


# --- Общие настройки ---
# Имя интерфейса WireGuard (e.g., wg0)
WG_INTERFACE=wg0
# Часовой пояс (список: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TIMEZONE=Europe/Moscow
# Файл базы данных
DB_FILE=vpn_telemetry.db

# --- Пороги алертов (в процентах) ---
CPU_THRESHOLD=80.0
MEM_THRESHOLD=80.0
# Порог сети (в Мбит/с)
NET_THRESHOLD_MBPS=500.0
# Интервал проверки системных алертов (в секундах)
CHECK_INTERVAL_SECONDS=60
